*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face{
    font-family: 'title';
    src: url(../font/irsans_P30Day.com.ttf);
}
@font-face{
    font-family: 'brad';
    src: url(../font/BRADHITC.TTF);
}
body{
    background-image: url(pic/d1da81f1-f62e-48f4-92e7-20e049bfdd87.png);
    background-size: cover;
    background-repeat: no-repeat;
     font-family:'title';
}
.back{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    
    height: 100vh;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    
  
    
}
.all{
    max-width: 80%;
    border-radius: 10px;
    display: flex;
    border-radius: 20px;
   

}
.left{
    width: 100%;
    background-color:rgba(255,255,255,0.1);
    backdrop-filter: blur(15px);
    border-radius: 20px;
    text-align: center;
    color: white;
    font-size: 20px;
    padding-top: 20px;
    border-right: 1px solid rgba(255,255,255,0.2);
    padding: 40px;
}
h1{
    text-shadow: 0 2px 10px rgba(214, 20, 20, 0.5);
    font-family: 'brad';
    letter-spacing: 30px;
    text-decoration: underline;
    text-underline-offset: 8px;

}
.login{
    flex-wrap: wrap;
    align-items: center;
    justify-items: center;
    background-color: rgba(255,255,255,0.2);
    backdrop-filter: blur(15px);
    border-radius: 20px;
}
.input{
    font-size: x-large;
    width: 100%;
    margin-top: 30px;
    border-left: none;
    border-right: none;
    text-align: center;
    border: none;
    box-shadow: 0px 2px 2px #d35400;
    font-family: 'title';

}
label{
    font-size: 20px;
    font-weight: lighter;
}
button{
    margin-top: 20px;
}



.button{
    width:50%;

}
button{
    width: 100%;
    font-size: x-large;
    background-color: #e67e22;
    color: white;
    border: none;
    margin-bottom: 20px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
    font-family: 'title';
}
button:hover{
    background-color: #d35400;
    transform: translateY(-4px);
}


#radio{
    display: flex;
    gap: 50px;
    margin-top: 20px;
    font-family: 'title';
}
.box_permition{
    box-shadow: 2px 3px 3px black;
    overflow-y: scroll;
    margin-top: 10px;
    background-color:rgba(0, 0, 0, 0.3) ;
    text-shadow: 0 1px 4px black;

}
.accept{
    color: black;
    font-size: larger;
    display: block;
}
input:focus{
    border: none;
    outline: none;
}
.error{
    text-align: center;
    font-weight: bolder;
    font-weight: 800;
   
}
h4{
    text-align: center;
    background-color: yellow;
}